[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-passwin
name: ICA Passwin
description: Passwin is a Windows based password management tool.
advice: 
version: 3.0.0.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ica-passwin (3.0.0.1-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  6/9/2025 19:19:18
